@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../fonts/poppins/index.css");

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color: black;

  --primary:#f58882;
  --secondary:#47c666;

  --blackC: #1e1e1e; 
  --blackC-light: #757575; 

  --whiteC: #f3f3f3;
  --whiteC-light: #F5F5F5;

  --greenC: #70E38C;
  --greenC-light: #c6fad2;
  --greenC-lighter: #E2FFE9;
  --greenC-lightest: #F9FFFA;
  --greenC-lightPale: #DFFFE7;
  --greenC-darkPale: #31623D;
  --greenC-dark: #107629;
  --greenC-darker: #08601D;

  --grayC: #d9d9d9;

  --pinkC: #FAD2CC;
  --pinkC-light: #FFF3F1;

  --purpleC: #DD9BCF;

  --blueC: #6EA0FE;
  --blueC-dark: #226EFF;
  --blueC-darkPale: #DADEE9;
}

/* Custom classes */
.container-style {
  @apply max-w-[1100px] mx-auto flex flex-col gap-8 py-20
}

.profile-page-number {
  @apply h-10 w-10 bg-primary flex items-center justify-center text-white rounded-full text-2xl font-semibold absolute  -top-5 left-1/2 -translate-x-1/2
}

.profile-page-input {
  @apply outline-none py-4 px-6 border border-primary rounded-[40px]
}

body {
  color: var(--color);
  background: var(--background);
  /* font-family: poppins; */
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
