@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../fonts/poppins/index.css");

:root {
  --background: #f9fffa;
  --foreground: #171717;
  --color: black;

  --primary:#f58882;
  --secendery:#47c666;

  --blackC: #1e1e1e; 
  --blackC-light: #757575; 
  --whiteC: #f3f3f3; 
  --greenC-light: #c6fad2;
  --grayC: #d9d9d9; 

 
}



body {
  color: var(--color);
  background: var(--background);
  /* font-family: poppins; */
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
